.header {
  width: 100%;
  display: flex;
  background: #fff;
  box-shadow: 0 -1px 12px rgba(59, 59, 59, 0.25);
  height: 6rem;
  padding: 0 4rem;
  position: fixed;
  z-index: 10;
  top: 0;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 5px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.nav__link {
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: #1b1b1b;
  position: relative;
  transition: 0.4s;
}

.nav__link:hover {
  color: #348fad;
}

.nav__list .nav__listitem .nav__link .nav__icon {
  display: none;
}

@media screen and (max-width: 750px) {
  .header {
    position: fixed;
    top: initial;
    bottom: 0;
    left: 0;
    height: 6rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 0 2rem;
  }

  .nav__logo {
    display: none;
  }

  .nav__list {
    width: 100%;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .nav__list .nav__listitem .nav__link .nav__icon {
    display: block;
    font-size: 2.5rem;
    padding: 1rem;
    border-radius: 999px;
  }

  .nav__listitem .nav__link span {
    display: none;
  }
}
