#skills {
  display: flex;
  flex-direction: column;
}

.skills-title {
  color: #1b1b1b;
  text-align: center;
}

.skills-title p {
  color: #414141;
  font-size: 1.6rem;
  margin-bottom: 3rem;
  font-weight: 400;
}

.skills-container {
  display: flex;
  gap: 3rem;
}

.skills-container .skills-card {
  padding: 3rem 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills-card__title {
  align-self: center;
  font-size: 2rem;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  color: #1b1b1b;
}

.skill-item h4 {
  font-size: 1.8rem;
}

.skill-item span {
  font-size: 1.4rem;
  color: #8a8a8a;
  margin-left: 2rem;
}
